<div style="margin: 50px;">
  <div class="container" style="text-align:center">

    <div class="row mt-5">
      <div class="col-12 text-center">
        <h1>Tester Matching</h1>
        <div class="input-group text-center mt-5">
          <input class="form-control" [(ngModel)]="countrySearchInput" type="text" name="countrySearchInput"
                 id="countrySearchInput" (ngModelChange)="this.countrySearchInputUpdate.next($event)"
                 placeholder="Please type country, default value: ALL">
          <div class="input-group-prepend">
            <span class="input-group-text">-</span>
          </div>
          <input class="form-control" [(ngModel)]="deviceSearchInput" type="text" name="deviceSearchInput"
                 id="deviceSearchInput" (ngModelChange)="this.deviceSearchInputUpdate.next($event)"
                 placeholder="Please type device, default value: ALL">
        </div>
      </div>
    </div>

    <div class="row mt-5" *ngIf="isSearching">
      <div class="col-12 text-center">
        <h4>Searching ... </h4>
      </div>
    </div>

    <div class="row mt-5">
      <ng-container *ngIf="error; else loadTestersTemplate">
        <div class="col-12 text-center">
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        </div>
      </ng-container>

      <ng-template #loadTestersTemplate>
        <div class="col-12" *ngFor="let tester of loadedTesters">
          <div class="list-group list-group-horizontal">
            <p class="col-sm-3">Tester: {{tester.name}}</p>
            <p class="col-sm-9">Bugs: {{tester.bugs}}</p>
          </div>
        </div>
      </ng-template>
    </div>

  </div>
</div>
